.hero {
    background-image: url(../images/splash.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;

}

.hidden {
    position: absolute;
    display: none;
}

.tabs a {
    color: white;
    font-size: 5rem;
}

.tabs a:hover {
    color: rgb(129, 129, 255);
    border-bottom-color: rgb(129, 129, 255);
}

#hero-name {
    font-size: 6rem;
    color: white;
}

#hero-role {
    font-size: 5rem;
    color: white;
}

.marble {
    background-image: url(../images/marble.jpg);
    height: 300vh;
}

.navbar {
    background-color: rgba(255, 0, 0, 0)
}

.about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-content {
    width: 80%;
    background-color: white;
}

.about-buttons {
    display: flex;
    justify-content: center;
}

/* .about-content p {
    color: black;
} */


.nathan-img, .about-content {
    border: white 1rem solid;
}

/* .featured-proj {
    margin-bottom: -5%;
} */

.projects {
    display: flex;
    justify-content: center;
    height: 100vh;
    /* flex-direction: column; */
}

.projects-body {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card {
    width: 35%;
}

.proj-description {
    height: 18vh;
}

.img-border {
    border: white 1rem solid;
}

.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-body {
    width: 80%;
}

.footer {
    padding: 1rem 1.5rem 1rem;
    background-color: rgba(255, 255, 255, .5);
}